*
{
    box-sizing: border-box;
}

.display
{
    height: 100dvh;
    width: 98.7dvw;
    

}
.moreImages
{
    position: relative;
    bottom: 40dvh;
    margin-left: 25px;
    left: 30px;
     
}

 
