*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.display 
{
    height: 50dvh;
    background-image: url(https://wallpapers.com/images/hd/gta-5-main-characters-e4rzrndhs77vx1ro.jpg);
    background-size: cover;
  
 
}
.thumbnail
{
    height: 35dvh;
    width: 40dvh;
 
    position: relative;
    top: 50px;
    left: 30px;
}
.thumbnail button img
{
    height: 35dvh;
    width: 20dvw;
}
.info
{
    height: 50dvh;
    width: 40dvw;
 
    position: relative;
    left: 30dvw;
    bottom:  28vh;
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
}
.button>button
{
    height: 5dvh;
    border: 1px solid red;
    width: 10dvw;
    border-radius: 20px;
    font-size: 1rem;
    color: black;
    display: flex;
    align-items: center;
    background-color: orange;
}
.cartButton
{
    position: fixed;
    right: 20px;
    top: 10px;
    height: 10dvh;
    border: 1px solid red;
    width: 10dvw;
    border-radius: 20px;
    font-size: 1rem;
    color: black;
    display: flex;
    align-items: center;
    background-color: orange;
    
}